@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  padding: 30px 0;
  font-family: 'Muller';
  background: #E5E5E5;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

:root {
  --CC9933: #CC9933;
  --F0BF5F: #F0BF5F;
  --A47312: #A47312; 
}
/* header */

.section-header__top {
  display: flex;
  align-items: center;
  height: 54px;
  margin-bottom: 30px;
}

.section-header__logo {
  margin-right: 40px;
}

.section-header__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  transition: color .3s ease;
}

.section-header__tel:hover, .nav__list-link:hover {
  color: var(--CC9933);
}

.section-header__tel:focus, .nav__list-link:focus {
  padding: 5px;
  border: 1px solid var(--CC9933);
  color: var(--CC9933);
}

.section-header__tel:active, .nav__list-link:active {
  color: var(--A47312);
}

.section-header__cabinet-link {
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--CC9933);
  transition: color .3s ease;
}

.section-header__cabinet-svg path {
  transition: fill .3s ease;
}

.section-header__cabinet-link:hover .section-header__cabinet-svg path {
  fill: var(--F0BF5F);
}

.section-header__cabinet-link:hover, .contacts-mail:hover {
  color:var(--F0BF5F);
}

.section-header__cabinet-link:focus .section-header__cabinet-svg path {
  fill: var(--CC9933)
}

.section-header__.cabinet-link:focus, .contacts-mail:focus {
  padding: 6px 5px;
  border: 1px solid var(--CC9933);
  color: var(--CC9933);
}

.section-header__cabinet-link:active .section-header__cabinet-svg path {
  fill: var(--A47312);
}

.section-header__cabinet-link:active, .contacts-mail:active {
  color: var(--A47312);
}

.section-header__nav {
  display: flex;
  align-items: center;
  padding: 27px 45px;
  line-height: 1;
  background: #fff;
  border-radius: 10px;
}

.nav__buttons, .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  margin-right: auto;
}

.nav__list-item:not(:last-child) {
  padding-right: 45px;
}

.nav__list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #666;
  transition: color .3s ease;
}

.btn {
  display: inline;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--CC9933);
  border: 1px solid var(--CC9933);
  border-radius: 10px;
  background: transparent;
  transition-property: background, color;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.nav__buttons-item:not(:last-child) {
  margin-right: 40px;
}

.btn:hover, .btn:focus {
  background: var(--CC9933);
  color: #FFFFFF;
}

.btn:active {
  background: var(--A47312);
  color: #FFFFFF;
}

/* offers */

.section-heading {
  padding-left: 40px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #333;
}

.section-offers__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-offers__left-item1 {
  margin-bottom: 24px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/Rectangle\ 15.png');
}

.section-offers__left-item2 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/Rectangle 14.png');
}

.section-offers__right {
  height: 540px;
  background-image: url('../img/33 1.png');
  background-repeat: no-repeat;
}

.section-offers__left-item1, .section-offers__left-item2 {
  height: 258px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-offers__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 573px;
  padding-left: 45px;
}

.section-offers__content-heading, .luxury {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #FFFFFF;
}

.luxury {
  font-size: 60px;
  line-height: 1;
}

.section-offers__content-price {
  padding-top: 15px;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.8;
}

.section-offers__content-link {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--F0BF5F);
}

.content-link__svg {
  margin-left: 5px;
  box-sizing: content-box;
  transition: margin-left .3s ease;
}

.section-offers__content-link:hover .content-link__svg {
  margin-left: 20px;
}

.section-offers__content-link:active {
  color: #fff;
}


/* about us */

.section-about__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  width: 888px;
  margin: 0;
}

/*services */

.section-services__list-item {
  display: inline-block;
  width: 573px;
  margin-right: 20px;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 15px;
}

.section-services__list-item:nth-child(2n) {
  margin-right: 0;
}

.section-services__list-item:last-child, .section-services__list-item:nth-last-child(2) {
  margin-bottom: 0;
}

.services__item-content {
  padding-left: 45px;
  padding-top: 26px;
  padding-right: 126px;
}

.services__content__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--CC9933);
  transition: color .3s ease;
}

.services__link__svg {
  margin-left: 5px;
  transition: margin-left .3s ease;
} 

.services__link__svg path {
  transition: stroke .3s ease;
}

.services__content__text {
  margin-bottom: 35px;
  white-space: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.services__content__link:hover .services__link__svg, .services__content__link:hover .services__link__svg path {
  margin-left: 20px;
  stroke: var(--F0BF5F);
}

.services__content__link:hover {
  color: var(--F0BF5F);
}

.services__content__link:focus .services__link__svg, .services__content__link:focus .services__link__svg path {
  margin-left: 20px;
  stroke: var(--CC9933);
}

.services__content__link:focus {
  color: var(--CC9933);
}

.services__content__link:active .services__link__svg, .services__content__link:active .services__link__svg path {
  margin-left: 20px;
  stroke: var(--A47312);
}

.services__content__link:active {
  color: var(--A47312);
}

/* benefits */

.section-benefits__list {
  display: flex;
  flex-wrap: wrap;
}

.section-benefits__list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 276px;
  padding: 40px 42px 32px 45px;
  margin-bottom: 22px;
  margin-right: 22px;
  background-color: #fff;
  border-radius: 15px;
}

.section-benefits__list__item:nth-child(4n) {
  margin-right: 0;
}

.section-benefits__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.section-benefits__svg {
  box-sizing: content-box;
  padding-bottom: 10px;
}

/* placement */

.section-placement__list {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

.section-placement__list-item {
  width: 372px;
  margin-right: 24px;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 15px;
}

.section-placement__list-item:nth-child(3n) {
  margin-right: 0;
}

.section-placement__list-item__content {
  padding: 30px 45px 58px 45px;
}

.section-placement__content__top {
  display: flex;
  justify-content: space-between;
}

.section-placement__price {
  margin: 0;
}

.section-placement__price-from {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.section-placement__price-value {
  font-weight: 700;
  font-size: 20px;
}

.section-placement__price-name {
  margin: 16px 0;
  font-weight: 400;
  font-size: 16px;
}

.section-placement__price-place {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.section-placement__item__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 374px;
  height: 440px;
  padding-bottom: 27px;
  background-image: url('../img/41.png');
}

.section-placement__link__text {
  padding-right: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background-image: url('../img/all-options2.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.section-placement__link__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* tour */

.tour-container {
  background: #DCDCDC;
  border-radius: 15px;
  padding: 45px;
}

.tour-list {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 30px 28px;
}

.tour-list-item:nth-last-child(n+3) {
  padding-right: 41px;
  box-sizing: content-box;
}

.tour-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 15px;
}

.tour-form-input {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.tour-btn {
  margin-left: auto;
}

.right3 {
  width: 121px;
}

.select {
  width: 169px;
  appearance: none;
  background-image: url('../img/select 2.svg');
  background-repeat: no-repeat;
  background-position: right 0px center;
}

.calendar::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.calendar {
  background-image: url('../img/date.svg');
  background-position: right;
  background-repeat: no-repeat;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.borders {
  border-bottom: 1px solid #DCDCDC;
}

.section-tour__btn {
  cursor: pointer;
}

/* contacts */
.section-contacts-container {
  margin-bottom: 40px;
}

.contacts-container {
  display: flex;
  padding: 45px;
  background-color: #fff;
  border-radius: 15px;
}

.contacts-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 375px;
  margin-right: 52px;
}

.contacts-list {
  margin-bottom: 45px;
}

.contacts-list-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 1px solid #DCDCDC;
}

.contacts-list-item:not(:first-child) {
  padding-top: 25px;
}

.key {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.value {
  width: 229px;
  display: flex;
  flex-direction: column;
  line-height: 150%;
}

.addres {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.section-contacts__tel,
.contacts-mail {
  margin-right: auto;
  display: inline;
  color: var(--CC9933);
  transition: color .3s ease;
}

.section-contacts__tel:hover {
  color: var(--F0BF5F);
} 

.section-contacts__tel:focus {
  padding: 5px;
  border: 1px solid var(--CC9933);
  color: var(--CC9933); 
}

.section-contacts__tel:active {
  color: var(--A47312);
}

.contacts-mail {
  max-width: 135px;
}

.mail-description {
  color: #999;
}

.schedule {
  margin: 0;
}

.contacts-btn {
  padding: 27px 29px;
  max-width: 220px;
}

/* footer */ 
.footer-container {
  margin-bottom: 0;
  background: #333;
  border-radius: 15px;
  color: #fff;
  padding: 45px;
  display: flex;
  background-image: url('../img/Frame 11.svg');
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 100%;
}
.footer-left {
  width: 305px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin: 0;
  margin-right: 125px;
}
.hotels {
  margin-bottom: 37px;
}
.information {
  margin-bottom: 40px;
}
.user-confirm {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--CC9933);
}
.footer-right {
  width: 365px;
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
}
.tels, .mails {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.footer-tel, .footer-mail {
  color: var(--CC9933);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.socials {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.social:not(:last-child) {
  margin-bottom: 20px;
}

.footer-svg path {
  transition: fill .5s ease;
}

.social:hover .footer-svg path, .social:focus .footer-svg path {
  fill: var(--CC9933);
}
.social:active .footer-svg path {
  fill: var(--A47312);
}